<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ALL</title>
</head>
<body>
    <h1><%=singleCamp.title%></h1>
    <h2><%=singleCamp.location%></h2>
    <p><a href="/yelpcamp/<%=singleCamp._id%>/edit">Edit</a></p>
    <form action="/yelpcamp/<%=singleCamp._id%>?_method=DELETE" method="post">
        <button>DELETE</button>
    </form>
    <a href="/yelpcamp">BACK</a>
</body>
</html>